<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>Restaurant Apps</title>
  </head>

  <body>
    <a href="#maincontent" class="skip-link">Go to content</a>

    <header class="header">
      <h1 class="header__logo"><a href="/">Restaurant Apps</a></h1>
      <nav class="header__nav">
        <ul class="header__menus">
          <li class="header__menu">
            <a class="header__link" href="/"><i class="fas fa-home"></i>Home</a>
          </li>
          <li class="header__menu">
            <a class="header__link" href="#"><i class="fas fa-star"></i>Favorite</a>
          </li>
          <li class="header__menu">
            <a class="header__link" href="https://github.com/hudiansyahrobby" target="__blank" rel="noopener noreferrer"><i class="fas fa-user"></i>About Us</a>
          </li>
        </ul>
      </nav>
      <button class="header__button" aria-label="Hamburger menu">☰</button>
      
    </header>

    <nav class="drawer">
      <ul class="drawer__menus">
        <li class="drawer__menu">
          <a class="drawer__link" href="/"><i class="fas fa-home"></i>Home</a>
        </li>
        <li class="drawer__menu">
          <a class="drawer__link" href="#"><i class="fas fa-star"></i>Favorite</a>
        </li>
        <li class="drawer__menu">
          <a class="drawer__link" href="https://github.com/hudiansyahrobby" target="__blank" rel="noopener noreferrer"><i class="fas fa-user"></i>About Us</a>
        </li>
      </ul>
    </nav>

    <div class="overlay"></div>

    
    <section class="hero">
      <h1 class="hero__title">Restaurants</h1>
      <p class="hero__subtitle">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam,
        debitis!
      </p>
      <div class="hero__buttons">
        <a href='#restaurant' class="btn hero__button1">Catalogue</a>
        <a href="#feature" class="btn hero__button2">Features</a>
      </div>
    </section>

    <main id="maincontent">

      <section id='feature' class="feature">
        <h1 class="feature__title">Features</h1>
        <div class="feature__grid">
          <div class="feature__card">
              <i class="fas fa-utensils feature__icon" aria-label="Restaurant Icon"></i>
              <h2 class="feature__name">Find Your Restaurant</h2>
              <p class="feature__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, illo, ullam magni officia iste dolorem doloremque rerum facilis nobis quis deleniti, fugiat veniam inventore facere possimus odio consequuntur deserunt ad.</p>
          </div>

          <div class="feature__card">
            <i class="fas fa-users feature__icon" aria-label="People Icon"></i>
            <h2 class="feature__name">Eat with Your Friends</h2>
            <p class="feature__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, illo, ullam magni officia iste dolorem doloremque rerum facilis nobis quis deleniti, fugiat veniam inventore facere possimus odio consequuntur deserunt ad.</p>
        </div>

        <div class="feature__card">
          <i class="fas fa-globe-asia feature__icon" aria-label="Web Icon"></i>
          <h2 class="feature__name">Best Restaurant Website</h2>
          <p class="feature__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, illo, ullam magni officia iste dolorem doloremque rerum facilis nobis quis deleniti, fugiat veniam inventore facere possimus odio consequuntur deserunt ad.</p>
      </div>

      <div class="feature__card">
        <i class="fas fa-tags feature__icon" aria-label="tags icon"></i>
        <h2 class="feature__name">Find Cheapeast Restaurant</h2>
        <p class="feature__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, illo, ullam magni officia iste dolorem doloremque rerum facilis nobis quis deleniti, fugiat veniam inventore facere possimus odio consequuntur deserunt ad.</p>
    </div>
        </div>
      </section>

    <section id='restaurant' class="restaurant">
      <h1 class="restaurant__title">Restaurant Catalogue</h1>
      <div class="restaurant__grid"></div>
    </section>

   </main>
    <footer class="footer">
      <h2 class="footer__title">Copyright © 2020 - Restaurant Apps</h1>
    </footer>
  </body>
</html>
