<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Restaurant Catalogue" />
    <meta name="theme-color" content="#db0000" />
    <link rel="apple-touch-icon" href="./icons/icon-192x192.png" />
    <link rel="icon" href="./icons/icon-192x192.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="preconnect" href="https://dicoding-restaurant-api.el.r.appspot.com" />
    <link rel="dns-prefetch" href="https://dicoding-restaurant-api.el.r.appspot.com" />

    <link
      rel="preload"
      crossorigin="anonymous"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      />
    </noscript>

    <title>Restaurant Apps</title>
  </head>

  <body>
    <a href="#mainContent" class="skip-link">Go to content</a>
    <navbar-app></navbar-app>
    <drawer-app></drawer-app>
    <modal-app id="modal"></modal-app>

    <div class="overlay" id="overlay"></div>
    <div class="spinner" id="spinner"></div>
    <main id="mainContent"></main>
    <footer-app></footer-app>
  </body>
</html>
